.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {

  .main,
  .header,
  .column,
  .footer,
  .html-view,
  blockquote {
    background-color: #1f1f1f;
  }

  color: white;

  .html-view {
    border: 1px solid white;
  }

  .footer .row {
    color: white;
  }

  .footer .row a {
    color: yellow;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;

}

* {
  box-sizing: border-box;
}

.pointer-cursor {
  cursor: pointer;
}

.fs-17px {
  font-size: 17px;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.logo {
  padding: 10px 15px;
  /* text-transform: uppercase; */
  text-align: center;
  display: block;
}

.header {
  border-bottom: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  width: 100%;
  position: fixed;
}

.main-nav {
	margin-top: 5px;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.main-nav li::marker {
  content: '';
}

.main {
  padding-top: 3%;
  padding-bottom: 20px;
}

@media (min-width: 769px) {

  .header {
    display: flex;
  }

  .main-nav {
		display: flex;
	}

  .header {
    flex-direction: column;
    align-items: center;

    /* .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    } */
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

}

blockquote {
  border-left: 2px solid #272626;
  margin-left: 0;
  padding: 0.1px 18px;
  background: #fbfbfb;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 40%;
  padding: 10px;
  background-color: #fafafa;
  height: 97.4vh;
}

.sm-column {
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#submit-form {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#submit-form:hover {
  background-color: #45a049;
}

#reset-form {
  background-color: transparent;
  border: 1px solid #04AA6D;
  color: #04AA6D;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}


#contributing,
#code_of_conduct {
  overflow: auto;
  height: 85vh;
}

.markdown-view {
  background: black;
  color: #d4d4d4;
  padding: 20px;
  font-family: monospace;
  line-height: 20px;
  font-size: 14px;
}

.html-view {
  padding: 20px;
  background: white;
  border: 1px solid black;
  font-family: system-ui;
}

.html-view a, a:visited {
  color: #04AA6D;
}

input.error {
  border: 1px solid red;
}

.v-error {
  color: red;
  margin-top: -10px;
  font-size: 13px;
  font-style: italic;
  opacity: 0.8;
}

.toast {
  position: fixed;
  /* bottom: 0; */
  top: 0;
  right: 0;

  transform: translateX(100%);
  opacity: 0;

  transition:
    opacity 500ms,
    transform 500ms;
}

.toast.visible {
  transform: translateX(0);
  opacity: 1;
}

.toast-body {
  margin: 28px;
  padding: 20px 24px;

  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-color: lightcoral;
  color: white;

  border-radius: 4px;
}

.toast-body.success {
  background-color: #04AA6D !important;
}

.toast-body.error {
  background-color: lightcoral;
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (max-width: 769px) {
  .column {
    width: 100%;
  }

  .main {
    padding-top: 10%;
    padding-left: 15px;
    padding-right: 15px;
  }
}


.footer {
  background: #f4f4f4;
  padding: 10px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: green;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}

#theme-toggle {
  font-size: 20px;
    margin-right: 20px;
    border: 1px solid #d0d0d0;
    padding: 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 1px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 12%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  height: 100%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 35px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}